.appui-database-table{
	.list{
    list-style: none;
    margin: 0;
    padding-left: 0.5rem;
  }
  .list-title{
    padding-left: 1rem;
  }
  .inline{
    display: inline-block
  }
  .toolbar{
    display: flex;
    align-items: center;
    height: 100%;
  }
}